name: "CI/CD"

on:
  push:
    branches: 
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4

      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma client
        run: pnpm --filter=api db:generate

      - name: Run lint
        run: pnpm lint

      - name: Run build
        run: pnpm build